.create{
    color: #555;
    max-width: 480px;
    margin: 60px auto;
    
}
.form input{
    margin-bottom: 20px;
    margin-top: 20px;
    width:500px;
}
.t{
    margin-bottom: 20px;
    margin-top: 20px;
}
.topics{
    margin-bottom: 0;
}

.create button{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.b{
  display: flex; 
  gap:270px;
}