.event-list {
    padding: 60px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
flex-basis: 48%;
gap: 100px;
    border-radius: 5px;
    padding-left: 100px;
   
    max-width: 1200px;
    
}
.date{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.event-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.event-item h3 {
    margin: 0;
    font-size: 1.5em;
}
.event-item p {
    margin: 5px 0;
    color: #555;
}
.event-item div {
    margin-top: 10px;
    color: #333;
}
.event-item a {
    display: inline-block;
    margin-top: 10px;
    color: #010101;
    text-decoration: none;
}
.event-item a:hover {
    text-decoration: underline;
}
.event-list h2 {
    margin-bottom: 10px;
    font-size: 2em;
    color: #333;

}

.host{
    margin-top: 0px;

}

.delete{
    position: absolute;
    cursor: pointer;
    margin-left: 400px;
    

}

.arrange{
    display: flex;
    gap:200px;
    background-color: #ddd;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.link {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 2px;
    padding: 20px 10px;
    background-color: #5b5555;
    border-radius: 20px;
    width: 50%;
}
.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: grid;
    grid-gap: 10px;
    grid-column: auto;
    width: 40%;
}
.des {
    margin-top: 10px;
    color: #333;
}