.searchBar form{
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchBar input[type="text"]{
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 0px;
}
.searchBar{
    color: white;
    font-family: 'Arial', sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-left: 340px;
}